<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/home}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/maven}">Maven Converter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/gradle}">Gradle Converter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/manual}">Manual</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">Language
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">English</a></li>
          <li><a class="nav-link" href="#">Hungarian</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

</html>