<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dependency-Converter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" th:href="@{/home}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/maven}">Maven Converter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/gradle}">Gradle Converter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/manual}">Manual</a>
      </li>
    </ul>
  </div>
</nav>
</html>